<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <title>Hello! And other greetings</title>
    <link rel="stylesheet" th:href="@{src/main/resources/static/style.css}"/>

</head>
<body>
<h1>All the album info</h1>
<ul>
    <li th:each="album : ${album}">
        <h3>Name of the album: </h3>
        <span th:text="${album.name}"></span>

        <h3>Artist: </h3>
        <span th:text="${album.artist}"></span>

        <h3>Song count: </h3>
        <span th:text="${album.songCount}"></span>

        <h3>Lengrth of the album: </h3>
        <span th:text="${album.length}"></span>

        <h3>Image:</h3>
        <h3> <img height="50px" width="50px" th:src="${album.imageUrl}"></img> </h3>

        <h3>Songs in this album:</h3>
        <span th:each="song: ${album.song}" ><p th:text="${song.title}"></p></span>
    </li>



</ul>

<h2>Add songs</h2>


<form method="POST" action="/album/add">
    <p></p>
    <input name="name" type="text"/>Title
    <p></p>
    <input name="artist" type="text"/>Artist
    <p></p>
    <input name="songCount" type="number"/>Song Count
    <p></p>
    <input name="songLength" type="number"/>Song length
    <p></p>
    <input name="imageUrl" type="text"/>Image URL
    <p></p>
    <button>Submit</button>
</form>
</body>
</html>
