<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <title>All songs</title>
    <link rel="stylesheet" th:href="@{src/main/resources/static/style.css}"/>

</head>
<body>
<h1>All songs in that one album</h1>
<ul>
    <li th:each="album : ${albumName}">
        <span th:text="${album.name}"></span>
        <span th:text="${album.artist}"></span>
        <span th:text="${album.songCount}"></span>
        <span th:text="${album.length}"></span>
        <img height="50px" width="50px" th:src="${album.imageUrl}"></img>
        <span th:each="song: ${album.song}" ><p th:text="${song.title}"></p></span>
    </li>


</ul>

</body>
</html>
