<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <title>All songs</title>
    <link rel="stylesheet" th:href="@{src/main/resources/static/style.css}"/>

</head>
<body>
<h1>All songs in that one album</h1>
<ul>
    <li th:each="album : ${albumName}">
        <h3>Name of the album: </h3>
        <span th:text="${album.name}"></span>

        <h3>Name of the artist: </h3>
        <span th:text="${album.artist}"></span>

        <h3>Total number of songs: </h3>
        <span th:text="${album.songCount}"></span>

        <h3>Length of the album: </h3>
        <span th:text="${album.length}"></span>

        <h3>Image:</h3>
        <img height="50px" width="50px" th:src="${album.imageUrl}"></img>
       <h4> Song: </h4>
        <span th:each="song: ${album.song}" ><p th:text="${song.title}"></p></span>
    </li>


</ul>

</body>
</html>
